*{
    Margin:0;  
    Padding:0;
    Border:0;
    }

body {position: relative;
    font-family: 'Poppins', sans-serif;
    color: rgba(121, 117, 117, 1);
    font-size: 100%;
}

img {max-width:100%}


/* general styling */

.content {
    margin-top: 6rem;
    margin-bottom: 6rem;
}




/* navigation styling */

.navigation {
    max-height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    position: absolute;
    width: 100%;
    background-color: white;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);}

.sticky {
    position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.navlink:link {
    text-decoration: none;
    color: #797575;
    }
.navlink:visited {
    text-decoration: none;
    color: #797575;
}
.navlink:hover {
    border-bottom: 1px solid #797575;
    }
.navlink:active {
    text-decoration: none;
    font-weight: 300;
    }

.nav-site-icon {
    max-height: 75px;
    margin-left: 30px;
}

.nav-pages-container {
    margin-right: 20px;
}

.nav-pages {
    font-weight: 300;
    font-size: 1rem;
    list-style-type: none;
    display: flex;
    gap: 50px;
    margin-right: 50px;
    }


/* header styling */

.header {
    position: relative;
    max-height: 90vh;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    margin-bottom: 6rem;

}

.header-image {
    max-width: 100%;
    position: relative;
    align-self: flex-end;
}

.header-text-container {
    font-family: 'Satisfy', cursive;
    color: white;
    position: absolute;
    text-align: center;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.header-h1 {
    font-size: 7rem;
}

.header-p {
    font-size: 2.5rem;
}





/* caligraphy styling */

.caligraphy {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Main styling */



/* article Styling */

.flex {
    display: flex;
    align-items: center;
}

.article-container {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.article {
    background-color: rgba(121, 117, 117, 0.1);
    max-width: 50%;
    }

.article-left {
    transform: translateX(20px);
    z-index: 1;
}

.article-right {
    transform: translateX(-20px);
    z-index: 0;
}

.article-text-container {
    padding: 2rem;
}

.article-title {
    margin-bottom: 1rem;
    font-family: 'Satisfy', cursive;
    font-size: 3rem;
}

.article-image-container {
    display:flex;
    max-width: 50%;
    overflow: hidden;
    padding: 0px;
}

.image-container-right {
    transform: translateX(-20px)
}

.image-container-left {
    transform: translateX(20px);
}

.article-image {
    border-radius: 1rem;
}



/* user comments styling */

.marks-container {
    max-width: 800px;
    margin-inline: auto;
    display:flex;
    flex-direction: column;
}

.marks-title {
    align-self: center;
}

.ranking-container {
    display:flex;
    flex-direction: row;
    margin-top: 1rem;
}

.shift {
    align-self: center;
    margin: 3rem;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.profile > * {
    margin: 0.5rem;
}

.user-name {
    font-weight: 300;
    font-size: 1rem;
}

.user-comment {
    text-align: center;
    font-weight: 300;
    font-style: italic;
}


.ranking {
    max-width: 100px;
}